
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
.vercel

# `composeApp` と `build` ディレクトリを無視リストから外す
!/composeApp/
!/composeApp/build/
/composeApp/build/*
!/composeApp/build/dist/
!/composeApp/build/dist/**/*

